/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden;
}

/* Header Styles */
#header {
    display: none; /* Inicialmente oculto */
}

/* Estilo sticky del header */
#header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000; /* Fondo blanco */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Espaciado interior */
    transition: background-color 0.5s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.container {
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.containerH {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Diseño sticky navbar */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff9f; /* Color de texto */
  transition: color 0.3s ease; /* Transición de color suave */
}

.nav-links a:hover {
  color: #FF44CC; /* Color al pasar el ratón */
}
/* Fin sticky navbar */

#language-toggle {
  width: 60px;
  height: 30px;
  background-color: #ddd;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto;
}

.toggle {
  cursor: pointer;
}

.toggle-circle {
  width: 28px;
  height: 28px;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.3s, background-image 0.3s;
}

.flag-es {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg');
}

.flag-uk {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg');
}

/* Section Styles */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

section:nth-child(even) {
  background-color: #fff;
}

section:nth-child(odd) {
  background-color: #f4f4f4;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}


/*Home*/
#home {
  position: relative;
  overflow: hidden;
}

#home .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('res/smoke2.jpeg') center center / cover no-repeat;
  animation: moveBackground 20s linear infinite;
}

#home .content {
  position: relative;
  z-index: 1;
}

/*Fin Home*/

/* Neon button */
.custom-button {
  position: relative;
  background: #44444400;
  color: #ffffff91;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.7s;
  cursor: pointer;
}

.custom-button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: #FF44CC;
  color: #FF44CC;
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.custom-button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

.custom-button span {
  position: relative;
  z-index: 1;
  margin-right: 20px; /* Space for the arrow */
}

.custom-button i {
  position: absolute;
  inset: 0;
  display: block;
}

.custom-button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid #FF44CC;
  background: #272822;
  transition: 0.7s;
}

.custom-button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.custom-button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid #FF44CC;
  background: #27282200;
  transition: 0.7s;
}

.custom-button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

.custom-button::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 30px; /* Position the arrow to the right of the text */
  top: 18px;
  border-left: 2px solid #FF44CC;
  border-bottom: 2px solid #FF44CC;
  transform: rotate(225deg);
  transition: transform 0.3s;
}

.custom-button:hover::after {
  transform: rotate(315deg);
}



@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}


h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

h2.visible {
  opacity: 1;
}

#about {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about.visible {
  opacity: 1;
  transform: translateY(0);
}
.about-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}


.left-column {
  flex: 1;
  text-align: center;
}

.profile-image {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #666;
}

.center-column {
  flex: 2;
  text-align: center;
}

.tech-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tech-list li {
  margin: 0.5rem;
}

.tech-list img {
  width: 50px;
  height: 50px;
}



/* Responsive Design */
@media (max-width: 768px) {

header{
  height: 2.5em
}

  #language-toggle {
      left: 2em;
      bottom: 0.3em;
      background-color: #ddd;
      border-radius: 30px;
      position: relative;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-left: auto;

  }

  .nav-links {
    flex-direction: row; /* Distribución vertical de los enlaces */
    text-align: center; /* Centrar texto */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-links li {
    margin: 10px 5px; /* Espaciado entre los elementos de la lista */
    justify-content: space-around;
  }
  .nav-links li a {
    font-size: 0.9em;
  }

  .toggle {
    margin-top: 10px; /* Espaciado superior del toggle */
  }

}
